* {
	padding: 0;
	margin: 0;
}

.notifier-container__ {
	position: relative;
}

.__notifier {
	overflow: hidden; 
	zoom: 1;
	display: block;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.15);
	color: white;
	padding: 15px;
}

.__notifier a {
	color: white;
	text-decoration: none;
}

.__notifier-inner {
	width: 1000px;
	margin: 0 auto;
}

.__notifier-inner div {
	float: left;
}

.__notifier-inner-text-container {
	width: 90%;
}

.__notifier-inner-button-container {
	width: 10%;
}

.__notifier-warning {
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff0000 0%, #ff3232 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#ff3232)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff0000 0%,#ff3232 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff0000 0%,#ff3232 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff0000 0%,#ff3232 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff0000 0%,#ff3232 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff3232',GradientType=0 ); /* IE6-9 */

}

.__notifier-error {
	background: #f9b332; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9b332 1%, #f98100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9b332), color-stop(100%,#f98100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9b332 1%,#f98100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9b332 1%,#f98100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9b332 1%,#f98100 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9b332 1%,#f98100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b332', endColorstr='#f98100',GradientType=0 ); /* IE6-9 */
}

.__notifier-success {
	background: #4dbf28; /* Old browsers */
	background: -moz-linear-gradient(top,  #4dbf28 1%, #2fbc00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4dbf28), color-stop(100%,#2fbc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4dbf28 1%,#2fbc00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4dbf28 1%,#2fbc00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4dbf28 1%,#2fbc00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4dbf28 1%,#2fbc00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbf28', endColorstr='#2fbc00',GradientType=0 ); /* IE6-9 */
}